@media (max-width: 768px){
    .container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .div-header{
        display: flex;
        justify-content: space-between;
    }
    .header__ul{
        display: flex;
        margin-top: 35px;
    }
    .header__ul li{
        margin-right: 60px;
        list-style: none;
        font-weight: 600;
        font-size: 14px;
    }
    .header__logo{
        font-size: 24px;
        font-weight: bolder;
        margin-top: 35px;
    }
    .section-about .container{
        background-image: url(../ASSETS/IMG/bg_about-index.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-about__title{
        font-size: 40px;
    }
    .section-about__text{
        font-size: 14px;
        opacity: 0.7;
    }
    .div-section-about{
        width: 500px;
        padding: 50px 75px 100px 50px;
    }
    .div-about-number{
        text-align: left;
        max-width: 380px;
        max-height: 150px;
        padding: 10px;
        gap: 15px;
        display: flex;
        align-items: center;
        border: none;
        background-color: #7ABADD;
        border-radius: 20px;
    }
    .div-about-number__text{
        font-size: 14px;
        color: #583FBC;
        font-weight: 900;
    }
    .div-about-numberphone{
        font-size: 12px;
        font-weight: 900;
    }
    .section-services__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .div-services__title{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .div-services__title h2{
        font-size: 35px;
    }
    .div-services__title p{
        text-align: justify;
        font-size: 18px;
        opacity: 0.7;
        padding-right: 0px;
        padding-left: 0px;
    }
    .section-services__button{
        text-align: center;
    }
    .section-services__button--toggle{
        color: #583FBC;
        background-color: #E6E6FA;
        border: 0;
        width: 240px;
        height: 64px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
    }
    .div-services-elements--tog{
        display: none;
    }
    .section-services__button--toggle:hover{
        cursor: pointer;
        transition-duration: 1.5s;
        transform: scale(1.2);
    }
    .div-services{
        display: flex;
        flex-direction: column;
    }
    .div-services-elements{
        text-align: justify;
        border: 3px solid #E6E6FA;
        margin: 50px 40px;
        border-radius: 45px;
    }
    .div-services-elements h4{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    .div-services-elements p{
        padding: 0px 20px;
        font-size: 16px;
        opacity: 0.7;
    }
    .div-servivec-elements__bg-dentures{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBEFFA;
    }
    .div-services-elements__bg-implants{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBDEFA;
    }
    .div-services-elements__bg-whitening{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #F6DBFA;
    }
    .div-services-elements__bg-root-canal{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #FADBE2; 
    }
    .section-testimonial .container{
        background-color: #D9EBFA;
        border-radius: 70px;
        margin-bottom: 15px;
    }
    .section-testimonial__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .section-testimonial__title{
        display: flex;
        gap: 15px;
    }
    .section-testimonial__title h2{
        font-size: 35px;
        padding-left: 20px;
    }
    .section-testimonial__title p{
        text-align: justify;
        font-size: 18px;
        opacity: 0.7;
        padding-left: 50px;
        padding-right: 200px;
    }
    .div-testimonials{
        display: flex;
    }
    .testimonial-elements{
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 45px;
        margin: 50px 40px;
    }
    .testimonial-elements h4{
        font-size: 18px;
        font-weight: bolder;
    }
    .testimonial-elements__text{
        font-size: 15px;
        margin: 10px;
        opacity: 0.7;
    }
    footer .container{
        background-color: #583FBC;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .div-header{
        display: flex;
        justify-content: space-between;
    }
    .header__ul{
        display: flex;
        margin-top: 35px;
    }
    .header__ul li{
        margin-right: 60px;
        list-style: none;
        font-weight: 600;
        font-size: 14px;
    }
    .header__logo{
        font-size: 24px;
        font-weight: bolder;
        margin-top: 35px;
    }
    .section-about .container{
        background-image: url(../ASSETS/IMG/bg_about-index.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-about__title{
        font-size: 26px;
    }
    .section-about__text{
        font-size: 13px;
        opacity: 0.7;
    }
    .div-section-about{
        width: 390px;
        padding: 30px 75px 59px 50px;
    }
    .div-about-number{
        text-align: left;
        max-width: 380px;
        max-height: 150px;
        padding: 10px;
        gap: 10px;
        display: flex;
        align-items: center;
        border: none;
        background-color: #7ABADD;
        border-radius: 20px;
    }
    .div-about-number__text{
        font-size: 10px;
        color: #583FBC;
        font-weight: 900;
    }
    .div-about-numberphone{
        font-size: 8px;
        font-weight: 900;
    }
    .section-services__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .div-services__title{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .div-services__title h2{
        font-size: 30px;
    }
    .div-services__title p{
        text-align: justify;
        font-size: 15px;
        opacity: 0.7;
        padding-right: 0px;
        padding-left: 0px;
    }
    .section-services__button{
        text-align: center;
    }
    .section-services__button--toggle{
        color: #583FBC;
        background-color: #E6E6FA;
        border: 0;
        width: 240px;
        height: 64px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
    }
    .div-services-elements--tog{
        display: none;
    }
    .section-services__button--toggle:hover{
        cursor: pointer;
        transition-duration: 1.5s;
        transform: scale(1.2);
    }
    .div-services{
        display: flex;
        flex-direction: column;
    }
    .div-services-elements{
        text-align: justify;
        border: 3px solid #E6E6FA;
        margin: 50px 40px;
        border-radius: 45px;
    }
    .div-services-elements h4{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    .div-services-elements p{
        padding: 0px 20px;
        font-size: 16px;
        opacity: 0.7;
    }
    .div-servivec-elements__bg-dentures{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBEFFA;
    }
    .div-services-elements__bg-implants{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBDEFA;
    }
    .div-services-elements__bg-whitening{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #F6DBFA;
    }
    .div-services-elements__bg-root-canal{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #FADBE2; 
    }
    .section-testimonial .container{
        background-color: #D9EBFA;
        border-radius: 70px;
        margin-bottom: 15px;
    }
    .section-testimonial__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .section-testimonial__title{
        display: flex;
        gap: 15px;
    }
    .section-testimonial__title h2{
        font-size: 30px;
        padding-left: 20px;
    }
    .section-testimonial__title p{
        text-align: justify;
        font-size: 14px;
        opacity: 0.7;
        padding-left: 50px;
        padding-right: 200px;
    }
    .div-testimonials{
        display: flex;
    }
    .testimonial-elements{
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 45px;
        margin: 10px 10px;
    }
    .testimonial-elements h4{
        font-size: 18px;
        font-weight: bolder;
    }
    .testimonial-elements__text{
        font-size: 15px;
        margin: 10px;
        opacity: 0.7;
    }
    footer .container{
        background-color: #583FBC;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 378px){
    .container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .div-header{
        display: flex;
        justify-content: space-between;
    }
    .header__ul{
        display: flex;
        margin-top: 35px;
    }
    .header__ul li{
        margin-right: 30px;
        list-style: none;
        font-weight: 600;
        font-size: 14px;
    }
    .header__logo{
        font-size: 24px;
        font-weight: bolder;
        margin-top: 35px;
    }
    .section-about .container{
        background-image: url(../ASSETS/IMG/bg_about-index.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-about__title{
        font-size: 18px;
    }
    .section-about__text{
        font-size: 11px;
        opacity: 0.7;
    }
    .div-section-about{
        width: 301px;
        padding: 30px 75px 59px 0px;
    }
    .div-about-number{
        text-align: left;
        max-width: 380px;
        max-height: 150px;
        padding: 10px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #7ABADD;
        border-radius: 20px;
    }
    .div-about-number__text{
        font-size: 7px;
        color: #583FBC;
        font-weight: 900;
    }
    .div-about-numberphone{
        font-size: 8px;
        font-weight: 900;
    }
    .section-services__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .div-services__title{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .div-services__title h2{
        font-size: 22px;
    }
    .div-services__title p{
        text-align: justify;
        font-size: 13px;
        opacity: 0.7;
        padding-right: 0px;
        padding-left: 0px;
    }
    .section-services__button{
        text-align: center;
    }
    .section-services__button--toggle{
        color: #583FBC;
        background-color: #E6E6FA;
        border: 0;
        width: 240px;
        height: 64px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
    }
    .div-services-elements--tog{
        display: none;
    }
    .section-services__button--toggle:hover{
        cursor: pointer;
        transition-duration: 1.5s;
        transform: scale(1.2);
    }
    .div-services{
        display: flex;
        flex-direction: column;
    }
    .div-services-elements{
        text-align: justify;
        border: 3px solid #E6E6FA;
        margin: 50px 40px;
        border-radius: 45px;
    }
    .div-services-elements h4{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    .div-services-elements p{
        padding: 0px 20px;
        font-size: 16px;
        opacity: 0.7;
    }
    .div-servivec-elements__bg-dentures{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBEFFA;
    }
    .div-services-elements__bg-implants{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #DBDEFA;
    }
    .div-services-elements__bg-whitening{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #F6DBFA;
    }
    .div-services-elements__bg-root-canal{
        text-align: center;
        margin: 20px;
        padding: 50px;
        border-radius: 20px;
        background-color: #FADBE2; 
    }
    .section-testimonial .container{
        background-color: #D9EBFA;
        border-radius: 70px;
        margin-bottom: 15px;
    }
    .section-testimonial__mini-title{
        font-size: 12px;
        font-weight: 900;
        color: #583FBC;
        padding-left: 25px;
        padding-top: 25px;
    }
    .section-testimonial__title{
        display: flex;
        gap: 15px;
    }
    .section-testimonial__title h2{
        font-size: 30px;
        padding-left: 20px;
    }
    .section-testimonial__title p{
        text-align: justify;
        font-size: 12px;
        opacity: 0.7;
        padding-left: 50px;
        padding-right: 200px;
    }
    .div-testimonials{
        display: flex;
        flex-direction: column;
    }
    .testimonial-elements{
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 45px;
        margin: 10px 10px;
    }
    .testimonial-elements h4{
        font-size: 18px;
        font-weight: bolder;
    }
    .testimonial-elements__text{
        font-size: 15px;
        margin: 10px;
        opacity: 0.7;
    }
    footer .container{
        background-color: #583FBC;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}